@import "~bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";

@mixin tag($bg, $text) {
	@extend .label;

	background: $bg;

	&:hover {
		background: transparentize($bg, 0.35);
	}

	a {
		color: $text;
		
		&:hover {
			text-decoration:none;
		}

		&:before {
			content: "#";
		}
	}

}

@mixin preview_hover() {
	&:hover {
		&, div.feature-panel-wrapper > div.feature-panel {
			cursor: pointer;
			background: $gray-lighter;
		}

		.caption, div > div > .feature-panel-body {
			h1, h2, h3, h4, h5, h6 {
				color: $text-color;
				text-decoration: underline;
			}
		}
	}
}

.feature {
	@include preview_hover;
	height: 300px;
	position: relative;

	.row {
		.feature-panel-wrapper {
			position: absolute;
			left: 0;
			bottom: 0;

			.feature-panel {
				@extend .panel;
				background: transparentize($panel-bg, 0.15);
				padding-right: 100px;
				border-radius: 0px;

				.feature-panel-body {
					@extend .panel-body;
				}
			}	
		}
	}
}

.article-thumbnail {
	@extend .thumbnail;
	@include preview_hover;
	border: none;
	
	
}

.article-date {
	float: right;
	color: lighten($text-color, 25%);
	font-size: 11px;
}

.tag {
	@include tag(lighten($gray-light, 25%), #fff);
}

.tag-game {
	@include tag(lighten($brand-info, 5%), #fff);
}

.badge-trending {
	@extend .badge;
	background: $brand-primary;
	margin-right: 5px;
}
